body {
  background-color: lightblue;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  padding: 20px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  height: 100px;
  width: auto;
}

.page-header .page-header__item {
  flex-grow: 1;
  text-align: center;
}

hr{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  transition: .2s ease-in-out;
  opacity: .5;
}
/* added button-class and styling */
.button-class {
  background-color: yellow;
  color: black;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 20%;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: .5s;
  cursor: pointer;
  border: 2px solid black;
}

.pokemon-list {
  list-style-type: none;
  padding-left: 5px;
  margin-left: 5px;
  width: auto;
  min-height: auto;
}
